<div class="share share--sidebar">
    <div class="share__container">
      <p class="share__title"><svg width="24" height="27" viewBox="0 0 100 100">
          <use xlink:href="#share" /></svg> <span class="visuallyhidden">Share</span></p><a class="share__item"
        target="_blank" rel="noopener"
        href="https://twitter.com/"
        data-share="twitter">Twitter</a> <a class="share__item" target="_blank" rel="noopener"
        href="https://www.facebook.com/" data-share="facebook">Facebook</a> <a
        class="share__item" target="_blank" rel="noopener"
        href="https://www.linkedin.com/"
        data-share="LinkedIn">LinkedIn</a>
    </div>
</div>